openapi: 3.1.0
info:
  title: Workday Common API
  description: >-
    Common API providing shared reference data, lookup values, and utility
    endpoints used across other Workday REST API services.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
  - url: https://wd2-impl-services1.workday.com/ccx/api/common/v1/{tenant}
    description: Workday REST API Server
    variables:
      tenant:
        default: tenant_name
        description: The Workday tenant identifier
security:
  - OAuth2:
      - r_common
paths:
  /countries:
    get:
      operationId: getCountries
      summary: Get Countries
      description: Returns a collection of countries.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing countries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /countries/{ID}:
    get:
      operationId: getCountryById
      summary: Get Country by ID
      description: Returns details for a specific country.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing country details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /currencies:
    get:
      operationId: getCurrencies
      summary: Get Currencies
      description: Returns a collection of currencies.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing currencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /currencies/{ID}:
    get:
      operationId: getCurrencyById
      summary: Get Currency by ID
      description: Returns details for a specific currency.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing currency details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /languages:
    get:
      operationId: getLanguages
      summary: Get Languages
      description: Returns a collection of languages.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing languages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /genders:
    get:
      operationId: getGenders
      summary: Get Genders
      description: Returns a collection of gender values.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing genders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReferenceValue'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /maritalStatuses:
    get:
      operationId: getMaritalStatuses
      summary: Get Marital Statuses
      description: Returns a collection of marital status values.
      tags:
        - Reference Data
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing marital statuses.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReferenceValue'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_common: Read common reference data
  parameters:
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    search:
      name: search
      in: query
      required: false
      description: Searches resources by name.
      schema:
        type: string
  schemas:
    Country:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        countryCode:
          type: string
          description: The ISO 3166-1 alpha-3 country code.
        alpha2Code:
          type: string
          description: The ISO 3166-1 alpha-2 country code.
        name:
          type: string
    Currency:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        currencyCode:
          type: string
          description: The ISO 4217 currency code.
        name:
          type: string
        numericCode:
          type: string
    Language:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        languageCode:
          type: string
        name:
          type: string
    ReferenceValue:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
    ResourceReference:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        href:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
tags:
  - name: Reference Data
    description: Endpoints for accessing common reference data and lookup values.
