openapi: 3.1.0
info:
  title: Workday Recruiting API
  description: >-
    Recruiting API for managing job postings, candidates, applications, and
    hiring workflows. Supports interview feedback and prospect management.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
  - url: https://wd2-impl-services1.workday.com/ccx/api/recruiting/v1/{tenant}
    description: Workday REST API Server
    variables:
      tenant:
        default: tenant_name
        description: The Workday tenant identifier
security:
  - OAuth2:
      - r_recruiting
      - w_recruiting
paths:
  /jobRequisitions:
    get:
      operationId: getJobRequisitions
      summary: Get Job Requisitions
      description: Returns a collection of job requisitions.
      tags:
        - Job Requisitions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing job requisitions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobRequisition'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobRequisitions/{ID}:
    get:
      operationId: getJobRequisitionById
      summary: Get Job Requisition by ID
      description: Returns details for a specific job requisition.
      tags:
        - Job Requisitions
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing job requisition details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRequisition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /jobPostings:
    get:
      operationId: getJobPostings
      summary: Get Job Postings
      description: Returns a collection of job postings.
      tags:
        - Job Postings
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing job postings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobPostings/{ID}:
    get:
      operationId: getJobPostingById
      summary: Get Job Posting by ID
      description: Returns details for a specific job posting.
      tags:
        - Job Postings
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing job posting details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /candidates:
    get:
      operationId: getCandidates
      summary: Get Candidates
      description: Returns a collection of candidates.
      tags:
        - Candidates
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing candidates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candidate'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /candidates/{ID}:
    get:
      operationId: getCandidateById
      summary: Get Candidate by ID
      description: Returns details for a specific candidate.
      tags:
        - Candidates
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing candidate details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /jobApplications:
    get:
      operationId: getJobApplications
      summary: Get Job Applications
      description: Returns a collection of job applications.
      tags:
        - Job Applications
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing job applications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobApplication'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobApplications/{ID}:
    get:
      operationId: getJobApplicationById
      summary: Get Job Application by ID
      description: Returns details for a specific job application.
      tags:
        - Job Applications
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing job application details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /prospects:
    get:
      operationId: getProspects
      summary: Get Prospects
      description: Returns a collection of recruiting prospects.
      tags:
        - Prospects
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing prospects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Prospect'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_recruiting: Read recruiting data
            w_recruiting: Write recruiting data
  parameters:
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    search:
      name: search
      in: query
      required: false
      description: Searches resources by name. The search is case-insensitive.
      schema:
        type: string
  schemas:
    JobRequisition:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        requisitionNumber:
          type: string
        jobTitle:
          type: string
        jobProfile:
          $ref: '#/components/schemas/ResourceReference'
        supervisoryOrganization:
          $ref: '#/components/schemas/ResourceReference'
        hiringManager:
          $ref: '#/components/schemas/ResourceReference'
        recruiter:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: string
          description: The status of the requisition (e.g., Open, Filled, Closed).
        numberOfOpenings:
          type: integer
        createdOn:
          type: string
          format: date-time
        targetHireDate:
          type: string
          format: date
        location:
          $ref: '#/components/schemas/ResourceReference'
    JobPosting:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        title:
          type: string
          description: The title of the job posting.
        jobRequisition:
          $ref: '#/components/schemas/ResourceReference'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        jobDescription:
          type: string
        location:
          $ref: '#/components/schemas/ResourceReference'
        isInternal:
          type: boolean
        isExternal:
          type: boolean
        postedOn:
          type: string
          format: date-time
    Candidate:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        name:
          type: string
          description: The full name of the candidate.
        email:
          type: string
          format: email
        phone:
          type: string
        source:
          $ref: '#/components/schemas/ResourceReference'
        referredBy:
          $ref: '#/components/schemas/ResourceReference'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/ResourceReference'
    JobApplication:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        candidate:
          $ref: '#/components/schemas/ResourceReference'
        jobRequisition:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: string
          description: The application status (e.g., In Progress, Offer, Hired, Rejected).
        stage:
          $ref: '#/components/schemas/ResourceReference'
        appliedOn:
          type: string
          format: date-time
        hiredOn:
          type: string
          format: date-time
    Prospect:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        talentPool:
          $ref: '#/components/schemas/ResourceReference'
        source:
          $ref: '#/components/schemas/ResourceReference'
    ResourceReference:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        href:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
tags:
  - name: Job Requisitions
    description: Endpoints for managing job requisitions.
  - name: Job Postings
    description: Endpoints for managing job postings.
  - name: Candidates
    description: Endpoints for managing candidates.
  - name: Job Applications
    description: Endpoints for managing job applications.
  - name: Prospects
    description: Endpoints for managing recruiting prospects.
