openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Leave of Absence API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Leave of Absence
  description: Endpoints for managing leaves of absence.
paths:
  /workers/{ID}/leaveOfAbsences:
    get:
      operationId: getLeavesOfAbsence
      summary: Get Leaves of Absence
      description: Returns leaves of absence for a worker.
      tags:
      - Leave of Absence
      parameters:
      - $ref: '#/components/parameters/ID'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing leave of absence records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaveOfAbsence'
                  total:
                    type: integer
              examples:
                Getleavesofabsence200Example:
                  summary: Default getLeavesOfAbsence 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      startDate: '2026-01-15'
                      estimatedEndDate: '2026-01-15'
                      actualEndDate: '2026-01-15'
                      status: example_value
                      lastDayOfWork: '2026-01-15'
                      firstDayOfWork: '2026-01-15'
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workers/{ID}/requestLeaveOfAbsence:
    post:
      operationId: requestLeaveOfAbsence
      summary: Request Leave of Absence
      description: Initiates a leave of absence request for a worker.
      tags:
      - Leave of Absence
      parameters:
      - $ref: '#/components/parameters/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveOfAbsenceRequest'
            examples:
              RequestleaveofabsenceRequestExample:
                summary: Default requestLeaveOfAbsence request
                x-microcks-default: true
                value:
                  leaveType:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  firstDayOfLeave: '2026-01-15'
                  estimatedLastDayOfLeave: '2026-01-15'
                  lastDayOfWork: '2026-01-15'
                  firstDayBackAtWork: '2026-01-15'
                  reason:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  comment: example_value
      responses:
        '201':
          description: Leave of absence request created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveOfAbsence'
              examples:
                Requestleaveofabsence201Example:
                  summary: Default requestLeaveOfAbsence 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    leaveType:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    startDate: '2026-01-15'
                    estimatedEndDate: '2026-01-15'
                    actualEndDate: '2026-01-15'
                    status: example_value
                    lastDayOfWork: '2026-01-15'
                    firstDayOfWork: '2026-01-15'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the worker.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    LeaveOfAbsence:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        leaveType:
          $ref: '#/components/schemas/ResourceReference'
        startDate:
          type: string
          format: date
          description: The start date of the leave.
          example: '2026-01-15'
        estimatedEndDate:
          type: string
          format: date
          description: The estimated end date of the leave.
          example: '2026-01-15'
        actualEndDate:
          type: string
          format: date
          description: The actual end date of the leave.
          example: '2026-01-15'
        status:
          type: string
          description: The status of the leave (e.g., In Progress, Completed).
          example: example_value
        lastDayOfWork:
          type: string
          format: date
          example: '2026-01-15'
        firstDayOfWork:
          type: string
          format: date
          example: '2026-01-15'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    LeaveOfAbsenceRequest:
      type: object
      properties:
        leaveType:
          $ref: '#/components/schemas/ResourceReference'
        firstDayOfLeave:
          type: string
          format: date
          example: '2026-01-15'
        estimatedLastDayOfLeave:
          type: string
          format: date
          example: '2026-01-15'
        lastDayOfWork:
          type: string
          format: date
          example: '2026-01-15'
        firstDayBackAtWork:
          type: string
          format: date
          example: '2026-01-15'
        reason:
          $ref: '#/components/schemas/ResourceReference'
        comment:
          type: string
          example: example_value
      required:
      - leaveType
      - firstDayOfLeave
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
