openapi: 3.1.0
info:
  title: Workday Staffing Job Profiles API
  description: Staffing API for managing organizational assignments, job profiles, positions, supervisory organizations, and worker staffing events.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/staffing/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_staffing
  - w_staffing
tags:
- name: Job Profiles
  description: Endpoints for managing job profiles.
paths:
  /jobProfiles:
    get:
      operationId: getJobProfiles
      summary: Get Job Profiles
      description: Returns a collection of job profiles.
      tags:
      - Job Profiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing job profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobProfile'
                  total:
                    type: integer
              examples:
                Getjobprofiles200Example:
                  summary: Default getJobProfiles 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      jobProfileName: example_value
                      isInactive: true
                      jobCode: example_value
                      summary: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /jobProfiles/{ID}:
    get:
      operationId: getJobProfileById
      summary: Get Job Profile by Id
      description: Returns detailed information for a specific job profile.
      tags:
      - Job Profiles
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing job profile details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProfile'
              examples:
                Getjobprofilebyid200Example:
                  summary: Default getJobProfileById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    jobProfileName: example_value
                    managementLevel:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    jobFamily:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    jobCategory:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    isInactive: true
                    jobCode: example_value
                    summary: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    search:
      name: search
      in: query
      required: false
      description: Searches resources by name. The search is case-insensitive.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response. The default is 20. The maximum is 100.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    ResourceReference:
      type: object
      description: A reference to a Workday resource.
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    JobProfile:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the job profile.
          example: abc123
        descriptor:
          type: string
          description: A display descriptor for the job profile.
          example: example_value
        jobProfileName:
          type: string
          description: The name of the job profile.
          example: example_value
        managementLevel:
          $ref: '#/components/schemas/ResourceReference'
        jobFamily:
          $ref: '#/components/schemas/ResourceReference'
        jobCategory:
          $ref: '#/components/schemas/ResourceReference'
        isInactive:
          type: boolean
          example: true
        jobCode:
          type: string
          description: The job code identifier.
          example: example_value
        summary:
          type: string
          description: Summary description of the job profile.
          example: example_value
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_staffing: Read staffing data
            w_staffing: Write staffing data
