openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types File Containers API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: File Containers
  description: Endpoints for file upload containers.
paths:
  /fileContainers:
    post:
      operationId: createFileContainer
      summary: Create File Container
      description: Creates a file container for uploading data files for a data change task.
      tags:
      - File Containers
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
            examples:
              CreatefilecontainerRequestExample:
                summary: Default createFileContainer request
                x-microcks-default: true
                value: example_value
      responses:
        '201':
          description: File container created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
              examples:
                Createfilecontainer201Example:
                  summary: Default createFileContainer 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    expirationTime: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fileContainers/{ID}:
    get:
      operationId: getFileContainerById
      summary: Get File Container by Id
      description: Returns details of a file container.
      tags:
      - File Containers
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing file container details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
              examples:
                Getfilecontainerbyid200Example:
                  summary: Default getFileContainerById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    expirationTime: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    FileContainer:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the file container.
          example: abc123
        descriptor:
          type: string
          example: example_value
        expirationTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
