openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types One-Time Payments API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: One-Time Payments
  description: Endpoints for one-time payment requests.
paths:
  /workers/{ID}/requestOneTimePayment:
    post:
      operationId: requestOneTimePayment
      summary: Request One-time Payment
      description: Initiates a one-time payment request for a worker.
      tags:
      - One-Time Payments
      parameters:
      - $ref: '#/components/parameters/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneTimePaymentRequest'
            examples:
              RequestonetimepaymentRequestExample:
                summary: Default requestOneTimePayment request
                x-microcks-default: true
                value:
                  effectiveDate: '2026-01-15'
                  reason:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  currency:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  amount: 42.5
                  payComponent:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
      responses:
        '201':
          description: One-time payment request created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  descriptor:
                    type: string
              examples:
                Requestonetimepayment201Example:
                  summary: Default requestOneTimePayment 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    OneTimePaymentRequest:
      type: object
      properties:
        effectiveDate:
          type: string
          format: date
          example: '2026-01-15'
        reason:
          $ref: '#/components/schemas/ResourceReference'
        currency:
          $ref: '#/components/schemas/ResourceReference'
        amount:
          type: number
          format: double
          example: 42.5
        payComponent:
          $ref: '#/components/schemas/ResourceReference'
      required:
      - effectiveDate
      - amount
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
