openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Procurement API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Procurement
  description: Endpoints for managing suppliers and purchase orders.
paths:
  /suppliers:
    get:
      operationId: getSuppliers
      summary: Get Suppliers
      description: Returns a collection of suppliers.
      tags:
      - Procurement
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing suppliers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
                  total:
                    type: integer
              examples:
                Getsuppliers200Example:
                  summary: Default getSuppliers 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      supplierName: example_value
                      supplierID: '500123'
                      taxID: '500123'
                      isActive: true
                      address:
                        addressLine1: example_value
                        city: example_value
                        postalCode: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /suppliers/{ID}:
    get:
      operationId: getSupplierById
      summary: Get Supplier by Id
      description: Returns details for a specific supplier.
      tags:
      - Procurement
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing supplier details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
              examples:
                Getsupplierbyid200Example:
                  summary: Default getSupplierById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    supplierName: example_value
                    supplierID: '500123'
                    supplierCategory:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    taxID: '500123'
                    paymentTerms:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    isActive: true
                    address:
                      addressLine1: example_value
                      city: example_value
                      stateProvince:
                        id: abc123
                        descriptor: example_value
                        href: https://www.example.com
                      postalCode: example_value
                      country:
                        id: abc123
                        descriptor: example_value
                        href: https://www.example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /purchaseOrders:
    get:
      operationId: getPurchaseOrders
      summary: Get Purchase Orders
      description: Returns a collection of purchase orders.
      tags:
      - Procurement
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing purchase orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseOrder'
                  total:
                    type: integer
              examples:
                Getpurchaseorders200Example:
                  summary: Default getPurchaseOrders 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      purchaseOrderNumber: example_value
                      orderDate: '2026-01-15'
                      totalAmount: 42.5
                      status: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
    search:
      name: search
      in: query
      required: false
      description: Searches resources by name.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    Supplier:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        supplierName:
          type: string
          example: example_value
        supplierID:
          type: string
          example: '500123'
        supplierCategory:
          $ref: '#/components/schemas/ResourceReference'
        taxID:
          type: string
          example: '500123'
        paymentTerms:
          $ref: '#/components/schemas/ResourceReference'
        isActive:
          type: boolean
          example: true
        address:
          type: object
          properties:
            addressLine1:
              type: string
            city:
              type: string
            stateProvince:
              $ref: '#/components/schemas/ResourceReference'
            postalCode:
              type: string
            country:
              $ref: '#/components/schemas/ResourceReference'
          example: example_value
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    PurchaseOrder:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        purchaseOrderNumber:
          type: string
          example: example_value
        supplier:
          $ref: '#/components/schemas/ResourceReference'
        orderDate:
          type: string
          format: date
          example: '2026-01-15'
        totalAmount:
          type: number
          format: double
          example: 42.5
        currency:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: string
          example: example_value
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
