openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Query API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Query
  description: Endpoints for executing WQL queries.
paths:
  /data:
    get:
      operationId: executeWqlQuery
      summary: Execute Wql Query
      description: Executes a WQL query and returns the result set. Supports pagination through limit and offset parameters.
      tags:
      - Query
      parameters:
      - name: query
        in: query
        required: true
        description: 'The WQL query string. Example: SELECT workdayID, fullName, businessTitle FROM allWorkers WHERE isActive = true'
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing the WQL query results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WqlQueryResult'
              examples:
                Executewqlquery200Example:
                  summary: Default executeWqlQuery 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - {}
                    total: 10
        '400':
          description: The WQL query syntax is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Executewqlquery400Example:
                  summary: Default executeWqlQuery 400 response
                  x-microcks-default: true
                  value:
                    error: example_value
                    errors:
                    - error: example_value
                      field: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
  schemas:
    WqlQueryResult:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
            description: A result row with field names as keys and their values.
          description: The array of result rows from the WQL query.
          example: []
        total:
          type: integer
          description: The total number of results available.
          example: 10
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
