openapi: 3.1.0
info:
  title: Workday Person Contact Information API
  description: Person API for managing worker person data including personal information, contact details, and organizational relationships.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/person/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_person
  - w_person
tags:
- name: Contact Information
  description: Endpoints for managing contact information.
paths:
  /people/{ID}/homeContactInformation:
    get:
      operationId: getHomeContactInformation
      summary: Get Home Contact Information
      description: Returns home contact information for a person.
      tags:
      - Contact Information
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing home contact information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInformation'
              examples:
                Gethomecontactinformation200Example:
                  summary: Default getHomeContactInformation 200 response
                  x-microcks-default: true
                  value:
                    emails:
                    - emailAddress: user@example.com
                      isPrimary: true
                    phones:
                    - phoneNumber: example_value
                      isPrimary: true
                      countryCode: example_value
                    addresses:
                    - addressLine1: example_value
                      addressLine2: example_value
                      city: example_value
                      postalCode: example_value
                      isPrimary: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /people/{ID}/workContactInformation:
    get:
      operationId: getWorkContactInformation
      summary: Get Work Contact Information
      description: Returns work contact information for a person.
      tags:
      - Contact Information
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing work contact information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInformation'
              examples:
                Getworkcontactinformation200Example:
                  summary: Default getWorkContactInformation 200 response
                  x-microcks-default: true
                  value:
                    emails:
                    - emailAddress: user@example.com
                      isPrimary: true
                    phones:
                    - phoneNumber: example_value
                      isPrimary: true
                      countryCode: example_value
                    addresses:
                    - addressLine1: example_value
                      addressLine2: example_value
                      city: example_value
                      postalCode: example_value
                      isPrimary: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    ContactInformation:
      type: object
      properties:
        emails:
          type: array
          items:
            type: object
            properties:
              emailAddress:
                type: string
                format: email
              type:
                $ref: '#/components/schemas/ResourceReference'
              isPrimary:
                type: boolean
          example: user@example.com
        phones:
          type: array
          items:
            type: object
            properties:
              phoneNumber:
                type: string
              type:
                $ref: '#/components/schemas/ResourceReference'
              isPrimary:
                type: boolean
              countryCode:
                type: string
          example: []
        addresses:
          type: array
          items:
            type: object
            properties:
              addressLine1:
                type: string
              addressLine2:
                type: string
              city:
                type: string
              stateProvince:
                $ref: '#/components/schemas/ResourceReference'
              postalCode:
                type: string
              country:
                $ref: '#/components/schemas/ResourceReference'
              type:
                $ref: '#/components/schemas/ResourceReference'
              isPrimary:
                type: boolean
          example: []
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the person.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_person: Read person data
            w_person: Write person data
