openapi: 3.1.0
info:
  title: Workday HCM Locations API
  description: Human Capital Management API for managing workforce data, recruiting, talent management, and payroll. Provides RESTful endpoints for core HR operations including workers, organizations, and job data.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_worker
  - w_worker
tags:
- name: Locations
  description: Endpoints for managing location data.
paths:
  /locations:
    get:
      operationId: getLocations
      summary: Get Locations
      description: Returns a collection of work locations.
      tags:
      - Locations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing locations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  total:
                    type: integer
              examples:
                Getlocations200Example:
                  summary: Default getLocations 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      name: Example Title
                      latitude: 42.5
                      longitude: 42.5
                      usages:
                      - {}
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /locations/{ID}:
    get:
      operationId: getLocationById
      summary: Get Location by Id
      description: Returns detailed information for a specific location.
      tags:
      - Locations
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing location details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                Getlocationbyid200Example:
                  summary: Default getLocationById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    latitude: 42.5
                    longitude: 42.5
                    timeProfile:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    locale:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    usages:
                    - id: abc123
                      descriptor: example_value
                      href: https://www.example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    search:
      name: search
      in: query
      required: false
      description: Searches workers by name. The search is case-insensitive.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response. The default is 20. The maximum is 100.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    ResourceReference:
      type: object
      description: A reference to a Workday resource.
      properties:
        id:
          type: string
          description: The Workday ID of the referenced resource.
          example: abc123
        descriptor:
          type: string
          description: A display descriptor for the referenced resource.
          example: example_value
        href:
          type: string
          format: uri
          description: A link to the referenced resource.
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: A message describing the error.
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    Location:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the location.
          example: abc123
        descriptor:
          type: string
          description: A display descriptor for the location.
          example: example_value
        name:
          type: string
          example: Example Title
        latitude:
          type: number
          format: double
          example: 42.5
        longitude:
          type: number
          format: double
          example: 42.5
        timeProfile:
          $ref: '#/components/schemas/ResourceReference'
        locale:
          $ref: '#/components/schemas/ResourceReference'
        usages:
          type: array
          items:
            $ref: '#/components/schemas/ResourceReference'
          example: []
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_worker: Read worker data
            w_worker: Write worker data
