openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Tables API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Tables
  description: Endpoints for managing Prism Analytics tables.
paths:
  /tables:
    get:
      operationId: getTables
      summary: Get Tables
      description: Returns a collection of Prism Analytics tables.
      tags:
      - Tables
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: name
        in: query
        description: Filter tables by name.
        schema:
          type: string
        example: Example Title
      responses:
        '200':
          description: Successful response containing tables.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Table'
                  total:
                    type: integer
              examples:
                Gettables200Example:
                  summary: Default getTables 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      name: Example Title
                      displayName: example_value
                      description: A sample description.
                      fields:
                      - {}
                      isAccessible: true
                      documentCount: 10
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tables/{ID}:
    get:
      operationId: getTableById
      summary: Get Table by Id
      description: Returns detailed information for a specific table.
      tags:
      - Tables
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing table details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
              examples:
                Gettablebyid200Example:
                  summary: Default getTableById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    displayName: example_value
                    description: A sample description.
                    fields:
                    - name: Example Title
                      displayName: example_value
                      ordinal: 10
                      type: {}
                      required: true
                      externalId: '500123'
                    isAccessible: true
                    documentCount: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    Table:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the table.
          example: abc123
        descriptor:
          type: string
          example: example_value
        name:
          type: string
          description: The name of the table.
          example: Example Title
        displayName:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        fields:
          type: array
          items:
            $ref: '#/components/schemas/DatasetField'
          example: []
        isAccessible:
          type: boolean
          example: true
        documentCount:
          type: integer
          example: 10
    DatasetField:
      type: object
      properties:
        name:
          type: string
          description: The field name.
          example: Example Title
        displayName:
          type: string
          description: The display name of the field.
          example: example_value
        ordinal:
          type: integer
          description: The ordinal position of the field.
          example: 10
        type:
          type: object
          properties:
            id:
              type: string
            descriptor:
              type: string
          description: The data type of the field.
          example: example_value
        required:
          type: boolean
          example: true
        externalId:
          type: string
          example: '500123'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
