openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Revenue API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Revenue
  description: Endpoints for managing customer invoices.
paths:
  /customerInvoices:
    get:
      operationId: getCustomerInvoices
      summary: Get Customer Invoices
      description: Returns a collection of customer invoices.
      tags:
      - Revenue
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing customer invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerInvoice'
                  total:
                    type: integer
              examples:
                Getcustomerinvoices200Example:
                  summary: Default getCustomerInvoices 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      invoiceNumber: example_value
                      invoiceDate: '2026-01-15'
                      dueDate: '2026-01-15'
                      totalAmount: 42.5
                      status: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    CustomerInvoice:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        invoiceNumber:
          type: string
          example: example_value
        customer:
          $ref: '#/components/schemas/ResourceReference'
        invoiceDate:
          type: string
          format: date
          example: '2026-01-15'
        dueDate:
          type: string
          format: date
          example: '2026-01-15'
        totalAmount:
          type: number
          format: double
          example: 42.5
        currency:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: string
          example: example_value
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
