openapi: 3.1.0
info:
  title: Workday Financial Management Accounting API
  description: Financial Management API for accounting, procurement, expenses, and financial reporting. Enables programmatic access to financial data and workflows.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/financialManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_financials
  - w_financials
tags:
- name: Accounting
  description: Endpoints for managing accounting journals.
paths:
  /accountingJournals:
    get:
      operationId: getAccountingJournals
      summary: Get Accounting Journals
      description: Returns a collection of accounting journals.
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing accounting journals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountingJournal'
                  total:
                    type: integer
              examples:
                Getaccountingjournals200Example:
                  summary: Default getAccountingJournals 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      journalNumber: example_value
                      accountingDate: '2026-01-15'
                      status: example_value
                      totalDebitAmount: 42.5
                      totalCreditAmount: 42.5
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accountingJournals/{ID}:
    get:
      operationId: getAccountingJournalById
      summary: Get Accounting Journal by Id
      description: Returns details for a specific accounting journal.
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing accounting journal details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournal'
              examples:
                Getaccountingjournalbyid200Example:
                  summary: Default getAccountingJournalById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    journalNumber: example_value
                    company:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    accountingDate: '2026-01-15'
                    status: example_value
                    journalSource:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    totalDebitAmount: 42.5
                    totalCreditAmount: 42.5
                    currency:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    AccountingJournal:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        journalNumber:
          type: string
          example: example_value
        company:
          $ref: '#/components/schemas/ResourceReference'
        accountingDate:
          type: string
          format: date
          example: '2026-01-15'
        status:
          type: string
          example: example_value
        journalSource:
          $ref: '#/components/schemas/ResourceReference'
        totalDebitAmount:
          type: number
          format: double
          example: 42.5
        totalCreditAmount:
          type: number
          format: double
          example: 42.5
        currency:
          $ref: '#/components/schemas/ResourceReference'
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_financials: Read financial data
            w_financials: Write financial data
