openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Scorecards API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Scorecards
  description: Endpoints for managing compensation scorecards and results.
paths:
  /compensationScorecards:
    get:
      operationId: getCompensationScorecards
      summary: Get Compensation Scorecards
      description: Returns a collection of compensation scorecards.
      tags:
      - Scorecards
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing compensation scorecards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompensationScorecard'
                  total:
                    type: integer
              examples:
                Getcompensationscorecards200Example:
                  summary: Default getCompensationScorecards 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      name: Example Title
                      effectiveDate: '2026-01-15'
                      status: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /compensationScorecards/{ID}:
    get:
      operationId: getCompensationScorecardById
      summary: Get Compensation Scorecard by Id
      description: Returns a specific compensation scorecard.
      tags:
      - Scorecards
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing the compensation scorecard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationScorecard'
              examples:
                Getcompensationscorecardbyid200Example:
                  summary: Default getCompensationScorecardById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    effectiveDate: '2026-01-15'
                    compensationReviewPeriod:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    status: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /compensationScorecards/{ID}/results:
    get:
      operationId: getCompensationScorecardResults
      summary: Get Compensation Scorecard Results
      description: Returns results for a specific compensation scorecard.
      tags:
      - Scorecards
      parameters:
      - $ref: '#/components/parameters/ID'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing scorecard results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScorecardResult'
                  total:
                    type: integer
              examples:
                Getcompensationscorecardresults200Example:
                  summary: Default getCompensationScorecardResults 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      currentBasePayAmount: 42.5
                      proposedBasePayAmount: 42.5
                      percentChange: 42.5
                      meritAmount: 42.5
                      promotionAmount: 42.5
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    CompensationScorecard:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        effectiveDate:
          type: string
          format: date
          example: '2026-01-15'
        compensationReviewPeriod:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: string
          example: example_value
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    ScorecardResult:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        worker:
          $ref: '#/components/schemas/ResourceReference'
        currentBasePayAmount:
          type: number
          format: double
          example: 42.5
        proposedBasePayAmount:
          type: number
          format: double
          example: 42.5
        currency:
          $ref: '#/components/schemas/ResourceReference'
        percentChange:
          type: number
          format: double
          example: 42.5
        meritAmount:
          type: number
          format: double
          example: 42.5
        promotionAmount:
          type: number
          format: double
          example: 42.5
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
