openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Time Entries API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Time Entries
  description: Endpoints for managing time entries.
paths:
  /workers/{ID}/timeEntries:
    get:
      operationId: getTimeEntries
      summary: Get Time Entries
      description: Returns time entries for a worker.
      tags:
      - Time Entries
      parameters:
      - $ref: '#/components/parameters/ID'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: fromDate
        in: query
        description: Filter entries from this date.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: toDate
        in: query
        description: Filter entries to this date.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      responses:
        '200':
          description: Successful response containing time entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeEntry'
                  total:
                    type: integer
              examples:
                Gettimeentries200Example:
                  summary: Default getTimeEntries 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      date: '2026-01-15'
                      hours: 42.5
                      comment: example_value
                      status: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workers/{ID}/requestTimeEntry:
    post:
      operationId: requestTimeEntry
      summary: Request Time Entry
      description: Creates a time entry for a worker.
      tags:
      - Time Entries
      parameters:
      - $ref: '#/components/parameters/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeEntryRequest'
            examples:
              RequesttimeentryRequestExample:
                summary: Default requestTimeEntry request
                x-microcks-default: true
                value:
                  date: '2026-01-15'
                  hours: 42.5
                  timeEntryCode:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  worktag:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  comment: example_value
      responses:
        '201':
          description: Time entry created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntry'
              examples:
                Requesttimeentry201Example:
                  summary: Default requestTimeEntry 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    date: '2026-01-15'
                    hours: 42.5
                    timeEntryCode:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    worktag:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    comment: example_value
                    status: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the worker.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
  schemas:
    TimeEntryRequest:
      type: object
      properties:
        date:
          type: string
          format: date
          example: '2026-01-15'
        hours:
          type: number
          format: double
          example: 42.5
        timeEntryCode:
          $ref: '#/components/schemas/ResourceReference'
        worktag:
          $ref: '#/components/schemas/ResourceReference'
        comment:
          type: string
          example: example_value
      required:
      - date
      - hours
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    TimeEntry:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        date:
          type: string
          format: date
          example: '2026-01-15'
        hours:
          type: number
          format: double
          description: The number of hours entered.
          example: 42.5
        timeEntryCode:
          $ref: '#/components/schemas/ResourceReference'
        worktag:
          $ref: '#/components/schemas/ResourceReference'
        comment:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
