openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Organizations API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Organizations
  description: Endpoints for managing organizational data.
paths:
  /supervisoryOrganizations:
    get:
      operationId: getSupervisoryOrganizations
      summary: Get Supervisory Organizations
      description: Returns a collection of supervisory organizations.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Successful response containing supervisory organizations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupervisoryOrganization'
                  total:
                    type: integer
              examples:
                Getsupervisoryorganizations200Example:
                  summary: Default getSupervisoryOrganizations 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      name: Example Title
                      code: example_value
                      isInactive: true
                      staffingModel: example_value
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /supervisoryOrganizations/{ID}:
    get:
      operationId: getSupervisoryOrganizationById
      summary: Get Supervisory Organization by Id
      description: Returns detailed information for a specific supervisory organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing organization details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupervisoryOrganization'
              examples:
                Getsupervisoryorganizationbyid200Example:
                  summary: Default getSupervisoryOrganizationById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    code: example_value
                    isInactive: true
                    manager:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    superiorOrganization:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    location:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    staffingModel: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SupervisoryOrganization:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the organization.
          example: abc123
        descriptor:
          type: string
          description: A display descriptor for the organization.
          example: example_value
        name:
          type: string
          description: The name of the supervisory organization.
          example: Example Title
        code:
          type: string
          description: The organization reference ID.
          example: example_value
        isInactive:
          type: boolean
          description: Whether the organization is inactive.
          example: true
        manager:
          $ref: '#/components/schemas/ResourceReference'
        superiorOrganization:
          $ref: '#/components/schemas/ResourceReference'
        location:
          $ref: '#/components/schemas/ResourceReference'
        staffingModel:
          type: string
          description: The staffing model for the organization.
          example: example_value
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: A message describing the error.
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    ResourceReference:
      type: object
      description: A reference to a Workday resource.
      properties:
        id:
          type: string
          description: The Workday ID of the referenced resource.
          example: abc123
        descriptor:
          type: string
          description: A display descriptor for the referenced resource.
          example: example_value
        href:
          type: string
          format: uri
          description: A link to the referenced resource.
          example: https://www.example.com
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response. The default is 20. The maximum is 100.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
    search:
      name: search
      in: query
      required: false
      description: Searches workers by name. The search is case-insensitive.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
