openapi: 3.1.0
info:
  title: Workday Talent Management Succession Planning API
  description: Talent Management API for managing mentorships, talent profiles, career development, and succession planning.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/talent/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_talent
  - w_talent
tags:
- name: Succession Planning
  description: Endpoints for managing succession plans.
paths:
  /successionPlans:
    get:
      operationId: getSuccessionPlans
      summary: Get Succession Plans
      description: Returns succession plans.
      tags:
      - Succession Planning
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing succession plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuccessionPlan'
                  total:
                    type: integer
              examples:
                Getsuccessionplans200Example:
                  summary: Default getSuccessionPlans 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      readiness: example_value
                      candidates:
                      - {}
                      lastUpdated: '2026-01-15'
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /successionPlans/{ID}:
    get:
      operationId: getSuccessionPlanById
      summary: Get Succession Plan by Id
      description: Returns details for a specific succession plan.
      tags:
      - Succession Planning
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing succession plan details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessionPlan'
              examples:
                Getsuccessionplanbyid200Example:
                  summary: Default getSuccessionPlanById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    position:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    incumbent:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    readiness: example_value
                    candidates:
                    - readiness: example_value
                      ranking: 10
                    lastUpdated: '2026-01-15'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    SuccessionPlan:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        position:
          $ref: '#/components/schemas/ResourceReference'
        incumbent:
          $ref: '#/components/schemas/ResourceReference'
        readiness:
          type: string
          description: Readiness level (e.g., Ready Now, Ready in 1-2 Years).
          example: example_value
        candidates:
          type: array
          items:
            type: object
            properties:
              worker:
                $ref: '#/components/schemas/ResourceReference'
              readiness:
                type: string
              ranking:
                type: integer
          example: []
        lastUpdated:
          type: string
          format: date
          example: '2026-01-15'
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_talent: Read talent data
            w_talent: Write talent data
