openapi: 3.1.0
info:
  title: Workday Absence Management Absence Types Data Change Tasks API
  description: Absence Management API for managing leave balances, time-off requests, leaves of absence, and eligible absence types for workers.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-service/support.html
  license:
    name: Proprietary
    url: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/absenceManagement/v1/{tenant}
  description: Workday REST API Server
  variables:
    tenant:
      default: tenant_name
      description: The Workday tenant identifier
security:
- OAuth2:
  - r_absence
  - w_absence
tags:
- name: Data Change Tasks
  description: Endpoints for managing data loading tasks.
paths:
  /dataChangeTasks:
    get:
      operationId: getDataChangeTasks
      summary: Get Data Change Tasks
      description: Returns a collection of data change tasks.
      tags:
      - Data Change Tasks
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing data change tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataChangeTask'
                  total:
                    type: integer
              examples:
                Getdatachangetasks200Example:
                  summary: Default getDataChangeTasks 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      name: Example Title
                      status:
                        id: abc123
                        descriptor: example_value
                      operation:
                        id: abc123
                        descriptor: example_value
                      createdOn: '2026-01-15T10:30:00Z'
                      completedOn: '2026-01-15T10:30:00Z'
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDataChangeTask
      summary: Create Data Change Task
      description: Creates a new data change task to load data into a dataset. The task must be completed with file upload and activation steps.
      tags:
      - Data Change Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataChangeTaskCreateRequest'
            examples:
              CreatedatachangetaskRequestExample:
                summary: Default createDataChangeTask request
                x-microcks-default: true
                value:
                  name: Example Title
                  targetDataset:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
                  operation:
                    id: abc123
                  fileContainer:
                    id: abc123
                    descriptor: example_value
                    href: https://www.example.com
      responses:
        '201':
          description: Data change task created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataChangeTask'
              examples:
                Createdatachangetask201Example:
                  summary: Default createDataChangeTask 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    targetDataset:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    status:
                      id: abc123
                      descriptor: example_value
                    operation:
                      id: abc123
                      descriptor: example_value
                    fileContainer:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    createdOn: '2026-01-15T10:30:00Z'
                    completedOn: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dataChangeTasks/{ID}:
    get:
      operationId: getDataChangeTaskById
      summary: Get Data Change Task by Id
      description: Returns detailed information for a specific data change task.
      tags:
      - Data Change Tasks
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Successful response containing data change task details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataChangeTask'
              examples:
                Getdatachangetaskbyid200Example:
                  summary: Default getDataChangeTaskById 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    descriptor: example_value
                    name: Example Title
                    targetDataset:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    status:
                      id: abc123
                      descriptor: example_value
                    operation:
                      id: abc123
                      descriptor: example_value
                    fileContainer:
                      id: abc123
                      descriptor: example_value
                      href: https://www.example.com
                    createdOn: '2026-01-15T10:30:00Z'
                    completedOn: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dataChangeTasks/{ID}/activities:
    get:
      operationId: getDataChangeTaskActivities
      summary: Get Data Change Task Activities
      description: Returns activities for a specific data change task.
      tags:
      - Data Change Tasks
      parameters:
      - $ref: '#/components/parameters/ID'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response containing task activities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataChangeTaskActivity'
                  total:
                    type: integer
              examples:
                Getdatachangetaskactivities200Example:
                  summary: Default getDataChangeTaskActivities 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      descriptor: example_value
                      activityType: example_value
                      status: example_value
                      startedOn: '2026-01-15T10:30:00Z'
                      completedOn: '2026-01-15T10:30:00Z'
                      rowsProcessed: 10
                      rowsFailed: 10
                    total: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The zero-based index of the first object in a response collection.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of objects in a single response.
      schema:
        type: integer
        default: 20
        maximum: 100
    ID:
      name: ID
      in: path
      required: true
      description: The Workday ID of the resource.
      schema:
        type: string
  schemas:
    DataChangeTask:
      type: object
      properties:
        id:
          type: string
          description: The Workday ID of the data change task.
          example: abc123
        descriptor:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        targetDataset:
          $ref: '#/components/schemas/ResourceReference'
        status:
          type: object
          properties:
            id:
              type: string
            descriptor:
              type: string
          description: The status of the task (e.g., New, Processing, Complete, Error).
          example: example_value
        operation:
          type: object
          properties:
            id:
              type: string
            descriptor:
              type: string
          description: The operation type (e.g., FullReplace, Append).
          example: example_value
        fileContainer:
          $ref: '#/components/schemas/ResourceReference'
        createdOn:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        completedOn:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    DataChangeTaskCreateRequest:
      type: object
      properties:
        name:
          type: string
          description: The name for the data change task.
          example: Example Title
        targetDataset:
          $ref: '#/components/schemas/ResourceReference'
        operation:
          type: object
          properties:
            id:
              type: string
              description: The operation type identifier (FullReplace or Append).
          example: example_value
        fileContainer:
          $ref: '#/components/schemas/ResourceReference'
      required:
      - name
      - targetDataset
      - operation
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: example_value
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
              field:
                type: string
          example: []
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        href:
          type: string
          format: uri
          example: https://www.example.com
    DataChangeTaskActivity:
      type: object
      properties:
        id:
          type: string
          example: abc123
        descriptor:
          type: string
          example: example_value
        activityType:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        startedOn:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        completedOn:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        rowsProcessed:
          type: integer
          example: 10
        rowsFailed:
          type: integer
          example: 10
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/authorize
          tokenUrl: https://wd2-impl-services1.workday.com/ccx/oauth2/{tenant}/token
          scopes:
            r_absence: Read absence data
            w_absence: Write absence data
